html *
{
   /*font-size: 1em !important;*/
   /*color: #000 !important;*/
   /*font-family: Arial !important;*/
}

#posts {
    background: lime;
    width: 600px;
    min-height: 300px;
    margin: auto;
    margin-top: 35px;
}

.post {
    background: aqua;
    width: 600px;
    margin: 10px 0;
}

.post-title {
    
}

.post-content {
    
}

.popover {
  position: absolute;
  z-index: 100;
  background-color=#ffffff;
}

#top-panel {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    /*background: #ff00ff;*/
    background-color: rgba(20,20,20,0.4); /* not supported by old IE */
    color: greenyellow;
    opacity: 0.9;
}
#top-panel div {
    opacity: 1;
    margin: 5px 10px 10px 0;
    float: right;
}

.post { }

body {
    /*background-color: #165e10;*/
}