<!DOCTYPE html>

<html ng-app="teamblog">
<head>
    <title>title</title>
    <script src="@Url.Content("~/Scripts/angular.js")"></script>
    <script src="@Url.Content("~/Scripts/my-app/root.js")"></script>
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css"/>
</head>
<body>
<div>
    <div id="top-panel">
        <div>cześć, anon</div>
    </div>
    <div id="posts">

    </div>
</div>
</body>
</html>